@font-face {
	font-family: Gotham Narrow;
	font-weight: 400;
	font-style: normal;
	src: local(GothamNarrow-Book);
}

@font-face {
	font-family: Gotham Narrow;
	font-weight: 400;
	font-style: italic;
	src: local(GothamNarrow-BookItalic);
}

@font-face {
	font-family: Gotham Narrow;
	font-weight: 700;
	font-style: normal;
	src: local(GothamNarrow-Bold);
}

@font-face {
	font-family: Gotham Narrow;
	font-weight: 700;
	font-style: italic;
	src: local(GothamNarrow-BoldItalic);
}
