$c1: #263364;
$sans: 'Gotham Narrow', sans-serif;
$serif: 'Sentinel', Georgia, serif;

// Based on Oceanic Next

// Greys
$base00: #1b2b34; // darkest
$base01: #343d46;
$base02: #4f5b66;
$base03: #65737e;
$base04: #a7adba;
$base05: #c0c5ce;
$base06: #cdd3de;
$base07: #d8dee9; // lightest

// colors
$base08: #ec5f67; // red
$base09: #f99157; // orange
$base0a: #fac863; // yellow
$base0b: #99c794; // lime
$base0c: #5fb3b3; // aqua
$base0d: #6699cc; // blue
$base0e: #c594c5; // purple
$base0f: #ab7967; // brown
