pre, code {
	font-family: 'Source Code Pro', Menlo, Consolas, monospace;
}

pre {
	background: $base00;
	padding: 0.5em 0.75em;
	font-size: 28px;
	line-height: 0.75em;

	code {
		display: block;
		padding: 0;
	}

	+ * {
		margin-top: 1em;
	}
}

code {
	background: $base00;
	color: $base07;
	padding: 0.25em 0.5em;
}

.hljs {
	&-keyword           { color: $base0c; }
	&-built_in          { color: $base07; }
	&-type              { color: $base07; }
	&-literal           { color: $base0b; }
	&-number            { color: $base09; }
	&-regexp            { color: $base07; }
	&-string            { color: $base0b; }
	&-subst             { color: $base07; }
	&-symbol            { color: $base07; }
	&-class             { color: $base07; }
	&-function          { color: $base07; }
	&-title             { color: $base07; }
	&-params            { color: $base07; }
	&-comment           { color: $base03; }
	&-doctag            { color: $base07; }
	&-meta              { color: $base05; }
	&-meta-keyword      { color: $base07; }
	&-meta-string       { color: $base07; }
	&-section           { color: $base07; }
	&-tag               { color: $base07; }
	&-name              { color: $base07; }
	&-builtin-name      { color: $base07; }
	&-attr              { color: $base08; }
	&-attribute         { color: $base07; }
	&-variable          { color: $base07; }
	&-bullet            { color: $base0b; }
	&-code              { color: $base07; }
	&-emphasis          { color: $base07; }
	&-strong            { color: $base07; }
	&-formula           { color: $base07; }
	&-link              { color: $base07; }
	&-quote             { color: $base07; }
	&-selector-tag      { color: $base07; }
	&-selector-id       { color: $base07; }
	&-selector-class    { color: $base07; }
	&-selector-attr     { color: $base07; }
	&-selector-pseudo   { color: $base07; }
	&-templates         { color: $base07; }
	&-template-tag      { color: $base07; }
	&-template-variable { color: $base07; }
	&-addition          { color: $base07; }
	&-deletion          { color: $base07; }
}
