---
title: Try PostCSS
author: Florian Pichler
---
{{> top}}

{{#slides}}

==== #intro .title


<h1>{{#typo}}{{title}}{{/typo}}</h1>
<p><em>By {{author}}</em></p>

<footer><a href="../">More talks by @pichfl</a></footer>


==== #what


## Post what?

> PostCSS is a tool for transforming styles with JS plugins.

* Lint your styles
* Add new CSS features
* Optimize output
* Inline images


==== #usage


## Use it

Plugins are available for all common build tools like Gulp, Grunt, Webpack, etc.

### Example in Gulp.js
```js
import postcss from 'gulp-postcss';

task('styles', () => {
	return src('**/*.css')
		.pipe(sourcemaps.init())
		.pipe(postcss([
			// configure plugins here
		]))
		.pipe(sourcemaps.write())
		.pipe(dest('build'));
});
```


==== #plugins

## Plugins



==== #autoprefixer


## Autoprefixer

```js
alert('Test');
```


==== #thanks .title


# Thank You


{{/slides}}

{{> end}}