---
title: Hello
author: Florian Pichler
---
{{> top}}

{{#slides}}

==== #intro .title


<h1>{{#typo}}{{title}}{{/typo}}</h1>

<footer><a href="../">More talks by @pichfl</a></footer>


==== #prolog

## Me

- Seit 10 Jahren im Web- und App-Umfeld unterwegs
- 50% Designer, 50% Entwickler
- kann backen (siehe [Instagram](https://www.instagram.com/pichfl/))
- Auf Twitter: [@pichfl](https://twitter.com/pichfl)
- Seit 8 Jahren viel JavaScript: MooTools, wenig jQuery, viel Vanilla, Microlibs, Sproutcore, Angular, React …
- Seit 4 Jahren: Ember.js

## anfema

- Creative Director, Seit > 5 Jahren
- Wir machen native Apps und Web-Applikationen, hauptsächlich für B2B


==== #thanks .title


# <a href="../">Los gehts!</a>

{{/slides}}

{{> end}}