.slides {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;

	-webkit-scroll-snap-points-y: repeat(100vh);
	-webkit-scroll-snap-type: mandatory;

	-moz-scroll-snap-points-y: repeat(100vh);
	-moz-scroll-snap-type: mandatory;

	scroll-snap-points-y: repeat(100vh);
	scroll-snap-type: mandatory;

	section {
		position: relative;
		width: 100%;
		height: 100vh;
		padding: 50px;
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		justify-content: center;
		align-content: center;

		> * {
			width: 100%;
		}
	}

	footer {
		width: auto;
		position: absolute;
		bottom: 30px;
		left: 50px;
		right: 0;
		font-size: 14px;
		text-align: center;
		color: mix(#fff, $c1, 50%);
	}
}
