---
title: Schon wieder JavaScript
author: Florian Pichler
---
{{> top}}

{{#slides}}

==== #intro .title


<h1>{{#typo}}{{title}}{{/typo}}</h1>
<p><em>Von {{author}}</em></p>

<footer><a href="../">andere Vorträge von mir</a></footer>


==== #prolog

## Bevor wir anfangen

- Sorry.
- JavaScript ist anders.
- Viel Glück!


==== #warum

## Der Versuch einer Erklärung warum JavaScript aktuell so beliebt ist…

- schneller Einstieg
- viele Plattformen (Browser, Server, Apps, Embedded, ...)
- schnell* (zumindest für bestimmte Tasks)

## …und warum früher nicht.

- kaum Entwickler-Werkzeuge
- Enginge-Inkompatibilitäten
- langsam


==== #


==== #thanks .title


# Danke


{{/slides}}

{{> end}}