<!doctype html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<title>
		{{#if file.data.title}}{{file.data.title}} - {{/if}}pichfl talks
	</title>
	{{#if file.data.description}}
		<meta name="description" content="{{file.data.description}}">
	{{/if}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/assets/main.css">
	{{#if style}}
	<style>{{style}}</style>
	{{/if}}
</head>
<body{{#if bodyClass}} class="{{bodyClass}}"{{/if}}>
	<div class="site">
