html {
	box-sizing: border-box;
	text-size-adjust: none;
}

* {
	&,
	&:before,
	&:after {
		box-sizing: inherit;
	}
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: 1.5;
	color: inherit;
}

html, body {
	background: $base01;
	color: #fff;
	font: 400 28px/30px $sans;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.25em;
	font-family: $serif;
	font-weight: 700;
	color: $base07;
}

h1 {
	margin: 0 auto;
	font-size: fs(90px);
	line-height: 0.8em;
	font-weight: 700;
	text-align: center;
	color: #fff;

	* + & {
		margin-top: 2em;
	}

	+ p {
		text-align: center;
	}
}

h2 {
	font-size: fs(50px);

	* + & {
		margin-top: 2em;
	}
}

h3 {
	font-size: 1.1em;

	* + & {
		margin-top: 1em;
	}
}

strong, b {
	font-weight: 700;
}

em, i {
	font-style: italic;
}

main {
	max-width: 45em;
	margin-right: auto;
	margin-left: auto;
}

a {
	&, &:link, &:visited {
		color: inherit;
	}

	&:focus, &:hover, &:active {
		color: inherit;
	}
}

ul, ol, p {
	& + *{
		margin-top: 0.75em;
	}
}

li {
	margin: 0.75em 0 0;

	li {
		margin-left: 1em;
	}
}

ul li {
	list-style: none;

	&:before {
		display: inline-block;
		width: 0.9em;
		margin-left: -0.9em;
		content: '–';
		color: $base04;
	}
}

blockquote {
	position: relative;
	font-style: italic;
	font-family: $serif;
	font-weight: normal;
	margin: 0 0 1em;

	&:before {
		font-size: 4em;
		font-weight: bold;
		font-style: normal;
		content: '“';
		position: absolute;
		top: -0.5em;
		left: -0.4em;
		color: $base03;
		z-index: -1;
	}
}
